html,
body {
	height: 100vh;
	margin: 0;
}

body {
	background-color: #fff;
	font-family: sans-serif;
	overflow: hidden;
}

h1 {
	font-weight: normal;
	font-size: 140%;
}

.toggleCode {
	z-index: 5;
	top: 50%;
	position: absolute;
}

#toggleOpen{
	display: none;
	right: 2%;
}
#toggleClosed{
	display: block;
}